<div>
    <div class="row">
        <div class="col-xs-3">
            <ul basic-toolbars class="btn-group-vertical btn-sm">
                <li ng-repeat="toolbar in toolbars"
                    ng-disabled="!toolbar.click"
                    ng-click="fnCall(toolbar)"
                    ng-class="toolbar.class || 'btn btn-success btn-sm'">
                    {{ toolbar.click || toolbar.label }} <i ng-if="toolbar.log">(*)</i>
                </li>
            </ul>
        </div>

        <div class="col-xs-9">
            <div class="row">
                <panel title="Tree-DnD Basic (Only Tree-Control)">
                    <div ng-include="'basic/basic.html'">
                    </div>
                </panel>
            </div>
        </div>
    </div>

    <div class="row">
        <!--<div class="col-xs-7" view-source="basic"></div>-->

        <!--<div class="col-xs-5">
            <panel title="Generated Model" type="success">
                <show-code source="tree_data | json" type="javascript"></show-code>
            </panel>
        </div>-->
    </div>
</div>