<div class="row">
	<div class="col-xs-3">
		<ul basic-toolbars class="btn-group-vertical btn-sm">
			<li ng-repeat="toolbar in toolbars" 
				ng-disabled="!toolbar.click" 
				ng-click="!toolbar.click ? (false) : (toolbar.log) ? (log = getFn(toolbar.click)()) : getFn(toolbar.click)()" 
				ng-class="toolbar.class || 'btn btn-success btn-sm'">
				{{ toolbar.click || toolbar.label }}
				<i ng-if="toolbar.log">(*)</i>
			</li>
		</ul>
	</div>
    <div class="col-xs-9" ng-include="'basic/basic.html'"></div>
</div>

<div class="row">
	<div class="col-xs-7" view-source="basic"></div>

	<div class="col-xs-5">
		<h2>Generated Model</h2>
		<pre class="code">{{ tree_data | json }}</pre>
	</div>
</div>
