<div class="row">
    <ul class="nav nav-tabs">
        <li ng-click="models.activeTab = 'Install'"
            ng-class="{active: models.activeTab === 'Install' || !models.activeTab}">
            <a style="cursor:pointer;">Install</a>
        </li>
        <li ng-click="models.activeTab = 'Source'"
            ng-class="{active: models.activeTab === 'Source'}">
            <a style="cursor:pointer;">Source</a>
        </li>
        <li ng-click="models.activeTab = 'Demo'"
            ng-class="{active: models.activeTab === 'Demo'}">
            <a style="cursor:pointer;">Demo</a>
        </li>
        <li ng-click="models.activeTab = 'DataDemo'"
            ng-class="{active: models.activeTab === 'DataDemo'}">
            <a style="cursor:pointer;">Data Demo</a>
        </li>
    </ul>

    <div class="tab-content">
        <div ng-class="{active: models.activeTab === 'Install' || !models.activeTab}" class="tab-pane">
            <panel title="Tree Options">
                <p> <b>Note:</b>
                <ul>
                    <li>Init: Keep init of Tree-DnD <i>(default not set, checked)</i>.</li>
                    <li>Scope: Ref Scope to run demo with Scope of the options is using.
                        <ul>
                            <li>After checked or uncheck 'scope', must press 'button' `reload data` to Init new Tree-DnD </li>
                            <li>If checked and 'reload with scope new' then `Bind-Two` will `bind` all options have `scope` </li>
                        </ul>
                    </li>
                </ul>
                </p>
                <tree-dnd
                        tree-class="table table-bordered table-hover table-striped"
                        tree-data="options"
                        tree-control="tree_Opt"
                        expand-on="expandOn"
                        expand-level="1"
                        column-defs="defs"
                        icon-leaf="none"
                        icon-expand="glyphicon glyphicon-chevron-down"
                        icon-collapse="glyphicon glyphicon-chevron-right"
                        ></tree-dnd>
            </panel>
        </div>
        <div ng-class="{active: models.activeTab === 'Source'}" class="tab-pane">
            <panel title="Code HTML" type="danger">
                <show-code source="generated"></show-code>
            </panel>
        </div>
        <div ng-class="{active: models.activeTab === 'Demo'}" class="tab-pane">
            <panel title="Demo Options (Generated)">
                <div ng-include="'custom/custom.html'"></div>
            </panel>
        </div>
        <div ng-class="{active: models.activeTab === 'DataDemo'}" class="tab-pane">
            <panel title="Data Demo">
                <show-code source="dataDemo | json" type="javascript"></show-code>
            </panel>
        </div>
    </div>
</div>
