<div class="row">
    <div class="col-xs-3">
        <label>Any: <input ng-model="_filter.$"></label> <br>
        <label>Name: <input ng-model="_filter.Name"></label><br>
        <label>Description: <input ng-model="_filter.Description"></label><br>
        <label>Area: <input ng-model="_filter.Area"></label><br>
        <label>Population: <input ng-model="_filter.Population"></label><br>
    </div>
    <div class="col-xs-9" ng-include="'filter/filter.html'"></div>
</div>

<div class="row">
	<div class="col-xs-7" view-source="filter"></div>

	<div class="col-xs-5">
		<h2>Generated Model</h2>
		<pre class="code">{{ tree_data | json }}</pre>
	</div>
</div>
