<tree-dnd tree-class="table table-bordered table-hover table-striped"
          tree-data="tree_data"
          tree-control="my_tree"

          filter="_filter"


          primary-key="DemographicId"
          column-defs="col_defs"
          expand-on="expanding_property"
          indent="30"
          indent-plus="20"
          indent-unit="px"

          enable-hotkey="true"
          enable-drag="true"
          enable-status="true"
          enable-move="true">
    <table ng-class="tree_class">
        <thead>
            <tr>
                <th ng-class="expandingProperty.titleClass" ng-style="expandingProperty.titleStyle">
                    {{expandingProperty.displayName || expandingProperty.field || expandingProperty}}
                </th>
                <th ng-repeat="col in colDefinitions" ng-class="col.titleClass" ng-style="col.titleStyle">
                    {{col.displayName || col.field}}
                </th>
            </tr>
        </thead>
        <tbody tree-dnd-nodes="tree_nodes">
            <tr tree-dnd-node="node" ng-repeat="node in nodes track by node.__hashKey__ "
                ng-show="enabledFilter ? node.__filtered_visible__ === true && node.__visible__ : node.__visible__"
                ng-class="enabledFilter ? (node.__filtered__ === true? 'success': '') : (node.__selected__ ? ' active':'')"
                ng-click="onSelect(node)">
                <td ng-if="!expandingProperty.template" tree-dnd-node-handle
                    ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {'padding-left': $callbacks.calsIndent(node.__level__)}"
                    ng-class="expandingProperty.cellClass" compile="expandingProperty.cellTemplate">
                    <a data-nodrag> <i ng-class="$icon_class" ng-click="toggleExpand(node)" class="tree-icon"></i>
                    </a> {{node[expandingProperty.field] || node[expandingProperty]}}
                </td>
                <td ng-if="expandingProperty.template" compile="expandingProperty.template"></td>
                <td ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                    compile="col.cellTemplate">
                    {{node[col.field]}}
                </td>
            </tr>
        </tbody>
    </table>
</tree-dnd>