<div class="row">
    <!-- Skip! Not important -->
    <ul class="nav nav-tabs">
        <li ng-click="models.activeTab = 'OutSide'"
            ng-class="{active: models.activeTab === 'OutSide' || !models.activeTab}">
            <a style="cursor:pointer;">OutSide</a>
        </li>
        <li ng-click="models.activeTab = 'InSide'"
            ng-class="{active: models.activeTab === 'InSide'}">
            <a style="cursor:pointer;">InSide</a>
        </li>
    </ul>

    <div class="tab-content" ng-include="'filter/filter.html'" />
</div>

<div class="row">
    <div class="col-xs-7" view-source="filter"></div>

    <div class="col-xs-5">
        <panel title="Generated Model" type="success">
            <show-code source="tree_data | json" type="javascript"></show-code>
        </panel>
    </div>
</div>
