<!DOCTYPE html>
<html ng-app="treeTableTest">
  <head>
    <!-- for local development -->    
    <!-- <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/ng-tree-table.css">    

</head>
  <body ng-controller="CategoryMenuController" style="margin:20px">
    <div class="row container">
        <h1 class="text-center">angular-tree-table</h1>
		<h4 class=" text-center text-info">[Angular 1.x] Display tree table & event DrapnDrop, field 'td' by tree (other normal)</h4>
        <h4 class=" text-center text-info">A Grid That display column tree and display column other to nest in a row by AngularJS, using CSS animation and Bootstrap style</h4>
        <p class="text-center"><a class="btn btn-success" href="https://github.com/thienhung1989/angular-tree-table">Code on github</a></p>
    </div>
    	
    	<button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
    	<button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
	<button ng-click="remove_branch()" class="btn btn-default btn-sm">Remove Selected</button>
	<tree-table 
		tree-data="tree_data" 
		tree-control="my_tree" drag-enabled="true"
		column-defs="col_defs" 
		expand-on="expanding_property"
		on-select="my_tree_handler(branch)" 
		on-click="my_tree_handler(branch)" 
		data-indent="30"
		data-indent-unit="px" 
		data-indent-plus="15">
	</tree-table>
	
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <!-- for local development -->
    <!--
        <script src="../lib/angular/angular.min.js"></script>
    -->
    <script src="../src/ng-tree-table.js"></script>
    <script src="controller.js"></script>
    <script>
    </script>
  </body>
</html>
