.tree-table-animate-enter,
.tree-table-row.ng-enter {
    -webkit-transition: 0 linear all;
    -moz-transition: 0 linear all;
    -ms-transition: 0 linear all;
    -o-transition: 0 linear all;
    transition: 0 linear all;
    position: relative;
    display: block;
    opacity: 0;
    max-height: 0;
}

.tree-table-animate-enter.tree-table-animate-enter-active,
.tree-table-row.ng-enter-active {
    opacity: 1;
    max-height: 30px;
}

.tree-table-animate-leave,
.tree-table-row.ng-leave {
    -webkit-transition: 0 linear all;
    -moz-transition: 0 linear all;
    -ms-transition: 0 linear all;
    -o-transition: 0 linear all;
    transition: 0 linear all;
    position: relative;
    display: block;
    height: 30px;
    max-height: 30px;
    opacity: 1;
}

.tree-table-animate-leave.tree-table-animate-leave-active,
.tree-table-row.ng-leave-active {
    height: 0;
    max-height: 0;
    opacity: 0;
}

.tree-table-row > td {
    position: relative;
}

.tree-table-animate.ng-enter {
}

.tree-table .tree-icon,
.tree-label {
    cursor: pointer;
}

.tree-table .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle !important;
}

.tree-table-empty {
    border: 2px dashed #72da67 !important;
    min-height: 100px;
    background-color: #e5e5e5;
}

.indented {
    position: relative;
}

.tree-table-hidden {
    display: none;
}

.tree-table-placeholder {
    position: relative;
}

.tree-table-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tree-table-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .7;
    background-color: #cdffdc;
    border: 2px dashed #385736;
}